---
import Paradoxa from '../components/Paradox.svelte'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Monty Hall problem</title>
    </head>
    <body>
        <Paradoxa client:load />
        
    </body>
</html>
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body{
    background-color: #121212;
    color:white;
}
</style>